.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
  justify-content: center; 
  align-items: center;
}

.term-selectors {
  display: flex;
  gap: 1rem;
}

.selected {
  background-color: #0d6efd;
  color: rgb(255, 255, 255);
}

.cardHover:hover {
  background-color: rgb(177, 177, 177);
  color: white;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.modal {
  display: block;
  visibility: hidden;
}

.modal-show {
  visibility:visible;
  background-color: rgba(169, 169, 169, 0.8);
  transition: opacity 0.2s linear; 
} 

.modal-content  {
  opacity: 0; 
}

.modal-show .modal-content  {
  opacity: 1; 
  transition: 0.2s linear; 
}

.modal-header {
  margin-left: auto;
}

.plan-header{
  text-align: center;
  margin: 1rem;
}

.bold{
  font-weight: bold;
}

.notBold{
  font-weight: normal;
}

.disabled{
  background-color: #ffd1d1;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}